<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org">
<head>
    <title>Add item</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container">
    <form
            th:action="@{/items/add}"
            action="/items/add"
            th:object="${item}"
            method="post">
        <span
                th:if="${#fields.hasErrors ('name')}"
                th:errors="*{name}"
                style="color:red">
        </span><br>
        <div class="form-group">
            <label for="name">Name</label>
            <input th:field="*{name}" type="text" class="form-control" id="name" name="name">
        </div>
        <span
                th:if="${#fields.hasErrors ('description')}"
                th:errors="*{description}"
                style="color:red">
        </span>
        <div class="form-group">
            <label for="description">Description</label>
            <input th:field="*{description}" type="text" class="form-control" id="description" name="description">
        </div>
        <span
                th:if="${#fields.hasErrors ('price')}"
                th:errors="*{price}"
                style="color:red">
        </span>
        <div class="form-group">
            <label for="price">Price</label>
            <input th:field="*{price}" type="text" class="form-control" id="price" name="price">
        </div>
        <small class="form-text text-muted">
            Please select shops where this item will be available.
        </small>
        <div th:each="shop:${shops}">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="selectedShopIds" th:value="${shop.id}">
                <label class="form-check-label" th:text="${shop.name}">
                    Shop Name
                </label>
            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-outline-success">Add item</button>
    </form>
</div>
<script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
</body>
</html>